[submodule "lib/communication_lib"]
	path = lib/communication_lib
	url = https://github.com/sarath-menon/communication_lib.git
[submodule "lib/copilot"]
	path = lib/copilot
	url = https://github.com/sarath-menon/copilot.git
